<!DOCTYPE html>
<html lang="en">
{% load socialaccount %}
{% if user.is_authenticated %}
<head>
    <meta charset="UTF-8">
    <title>CavMap - Route Maker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
          <a class="navbar-brand" href="https://a01-cav-map.herokuapp.com/">CavMap</a>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="https://a01-cav-map.herokuapp.com/map/">Map</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://a01-cav-map.herokuapp.com/routemaker/">Route Maker</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://a01-cav-map.herokuapp.com/accounts/logout/">Logout</a>
            </li>
          </ul>
        </div>
      </div>
     </nav>
     <h1 style="text-align: center;">{{ user.username }}'s Route Input</h1>
    <script>
            function showClass1(){
                var message = document.getElementById('class1').value;

            }
    </script>
</head>
    <body>


        <form action="multiPath.html" id="user-classes" method="get">
          <div id="classes">
            <p>
                <label for="classes"> Class  <input type="text" id="class1" size="20" name="class1" value="" placeholder="Building Name" /></label>
            </p>
        </div>
            <a href="#" id="addClass">Add Another Class</a>
      </br>
            <button type="reset">Reset</button>
            <button type="submit" value="submit" onclick="showClass1()" >Generate Map</button>
        </form>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
        $(function() {
        var classDiv = $('#classes');
        var i = $('#classes p').size() + 1;
        
        $('#addClass').live('click', function() {
                $('<p><label for="classes">Class <input type="text" id="class' + i +'"size="20" name="class' + i +'" value="" placeholder="Building Name" /></label> <a href="#" id="remClass">Remove</a></p>').appendTo(classDiv);
                i++;
                return false;
        });
        
        $('#remClass').live('click', function() { 
                if( i > 2 ) {
                        $(this).parents('p').remove();
                        i--;
                }
                return false;
        });
});

        </script>
        <div class="fixed-bottom">
            <nav class="navbar navbar-dark justify-content-center" style="background-color: #212529;">
                <p class="text-center" style="color: white;">Copyright 2021. Author: Team A-01</p>
            </nav>
        </div>

    </body>
    {% else %}
    <meta http-equiv="refresh" content="0;url=https://a01-cav-map.herokuapp.com/" />
  {% endif %}
</html>