
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forum</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
          <a class="navbar-brand" href="http://cavmap-personal-testing.herokuapp.com/">CavMap</a>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="http://cavmap-personal-testing.herokuapp.com/map/">Map</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://cavmap-personal-testing.herokuapp.com/routemaker/">Route Maker</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://cavmap-personal-testing.herokuapp.com/forum/">Forum</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="http://cavmap-personal-testing.herokuapp.com/createPost/">Create Post</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://cavmap-personal-testing.herokuapp.com/accounts/logout/">Logout</a>
            </li>
          </ul>
        </div>
      </div>
     </nav>

</head>
<body>

        <h1 style="text-align: center;">Forums</h1>
        <h3>Posts:</h3>
        <ul>
            {% for post in ps %}
                <li style="font-weight: bold;">{{post.title_field}} </li> 
                By: {{post.author}}
                <br />
                {{post.post}}
                <br />
                {{post.pub_date}}
                <br /> 
            {% endfor %}
        </ul>
</body>
</html>

